//Colors:
$black: #000000;
$white: #ffffff;

$red: #801C1C;
$blue: #15256C;

$background: #f6f6f6;
$text: #12131d;
$secondary: #B6B6B6;

$cursor: #e7dede;

$xs: 320;
$s: 576;
$m:  768;
$l: 992;
$xl: 1200;